generated
.directory
.settings
.classpath
.project
target
.idea
.mvn
*.iml
/bin/
target/

*.war
*.ear
*.jar
*.tree
mqjms*.log*
*.tlog
*.epoch
*.out
*.log
*.log.gz
*.app
*.lck
*.cmd
*.bat
.checkstyle
.compatibility
.factorypath
.attach_pid*